<%= form_for(@reservation, :html => {:class => "well form-horizontal"}) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :rows => 10, :cols => 80, :class => "span6" %>
    </div>
  </div>
  <div class="form-actions">
    <%= content_tag :button, :type => :submit, :class => 'btn btn-primary btn-large' do %>
      Request Reservation
    <% end %>
  </div>
<% end %>
