<%= form_for(@reservation, :html => {:class => "well form-horizontal"}) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :type, :class => "control-label" %>
    <div class="controls">
      <div class="btn-group" data-toggle-name="is_private" data-toggle="buttons-radio" >
        <button type="button" value="0" class="btn btn-large" data-toggle="button">Static IP Reservation</button>
        <button type="button" value="1" class="btn btn-large" data-toggle="button">Firewall Exemption Reservation</button>
      </div>
      <input type="hidden" name="is_private" value="0" />
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ip_address, "IP Address", :class => "control-label" %>
    <div class="controls">
      <input type="text" class="span1" id="ip_field_1" maxlength="3" />.<input type="text" class="span1" id="ip_field_2" maxlength="3" />.<input type="text" class="span1" id="ip_field_3" maxlength="3" />.<input type="text" class="span1" id="ip_field_4" maxlength="3" />
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reason, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :reason, :rows => 10, :cols => 80, :class => "span6" %>
    </div>
  </div>
  <div class="form-actions">
    <%= content_tag :button, :type => :submit, :class => 'btn btn-primary btn-large' do %>
      Request Reservation
    <% end %>
  </div>
<% end %>
