<p class="lead">
  The following is a list of reservations you've made in the past:
</p>

<table class="table table-striped">
  <tr>
    <% if current_user.has_role? :admin %>
    <th>User</th>
    <% end %>
    <th>Status</th>
    <th>Requested</th>
    <th>Network</th>
    <th>IP Address</th>
    <th>Port</th>
    <th>When</th>
    <th>Expires</th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <% if current_user.has_role? :admin %>
    <th><%= reservation.loginid %></th>
    <% end %>
    <td><%= reservation.status.label %></td>
    <td><%= reservation.reservation_type_in_words %></td>
    <td><%= reservation.subnet.name unless reservation.subnet.nil? %></td>
    <td><%= reservation.ip_address %></td>
    <td><%= reservation.port %></td>
    <td><%= time_ago_in_words reservation.requested_at %> ago</td>
    <td><%= time_ago_in_words reservation.requested_at + reservation.expiration.days %></td>
    <td><%= link_to 'Cancel', reservation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
