<p id="notice"><%= notice %>
    <% unless notice.nil? %>
    <a class="dismiss">dismiss</a>
    <% end %>
</p>

<p>
  <b>User:</b>
  <%= @reservation.loginid %>
</p>

<p>
  <b>Reason:</b>
  <%= @reservation.reason %>
</p>

<p>
  <b>Requested:</b>
  <%= @reservation.requested_at %>
</p>

<p>
  <b>Expiration:</b>
  <%= @reservation.expiration %>
</p>

<p>
  <b>Status:</b>
  <%= @reservation.status_id %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
